/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
/TDD/target
/TDD/nbproject/
/TDD/nbactions.xml
/laskarit/viikko2/test/target/
/TDD/maps.txt
